@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .animation-delay-200{
    animation-delay: 200ms;
  }
  .animation-delay-400{
    animation-delay: 400ms;
  }
}

:root {
  --background: #ededed;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #222e35;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}
